<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
div{
	border:1px solid blue;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
}
</style>

<table id="customers">
  <tr>
    <th>nombre</th>
    <th>url</th>
    <th>show</th>

  </tr>
  <% @artists.each do |artist|%>
	<tr>
	    <td><%= artist.name %></td>
	    <td><img src="<%= artist.image_url %>" alt=""> image </td>
	    <td><%= link_to 'show', artist_path(artist)%></td>
	 </tr>
<% end %>

  
</table>

<% @artists.each do |artist|%>

<div>
	<td><%= artist.name %></td>
	    <td><img src="<%= artist.image_url %>" alt=""> image </td>
	    <td><%= link_to 'show', artist_path(artist)%></td>
</div>
	
<% end %>