<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
div{
	border:1px solid blue;
	width: 200px;
	height: 200px;
	margin: 20px;
	display: inline-block;
}
</style>
<h1><%= @nombre_artista %></h1>
<% if @albums %>
	<table id="customers">
		  <tr>
		    <th>nombre del album </th>
		    <th>url</th>
		    <th>año de lanzamiento</th>
		  </tr>
		<% @albums.each do |album|%>
			<tr>
			    <td><%= album.name %></td>
			    <td><%= album.image_url %></td>
			    <td><%= album.released_at %></td>
			 </tr>
		<% end %>
	</table>
<% else %>
esta vacio no hay record 
<% end  %>

<% @albums.each do |album|%>
	<div>
	    <td><%= album.name %></td>
	    <td><%= album.image_url %></td>
	    <td><%= album.released_at %></td>
	 </div>
<% end %>